<%= link_to "Make a new drop", new_drop_path %>
</br>
<h1> Drops Received </h1>
<% @drops.each do |d| %>
	<%= d.title	 %> 
	</br>
	<%= d.description %>
	</br>
	<%= link_to "Add a landmark photograph", new_drop_photo_path(d) %>
<% end %>

<% @drops.each do |d| %>
	<%= button_to "received", d, method: :delete %>
	<br />
<%end %>

<%# @drop.photos.each do |p| %>
	<%#= image_tag p.image.url(:medium) %>
<%# end %>

<% @drops.each do |d| %>
	<% d.photos.each do |p| %>
		<%= image_tag p.image.url(:medium) %>
		<!-- Should not try to destroy photo right now, -->
		<!-- Will focus on destroying the entire drop, and then -->
		<!-- come back to this. -->
		<%#= button_to "delete", p, method: :delete %>
		<br />
	<% end %>
<% end %>
	
<h1> Drops Sent </h1>
<% @currentdrops.each do |c| %>
	Drop Title:
	<%= c.title %>
	</br>
	Drop Description:
	<%= c.description %>
	</br>
	<%= link_to "Add a landmark photo", new_drop_photo_path(c) %>
<% end %>

<% @currentdrops.each do |d| %>
	<%= button_to "delete", d, method: :delete %>
	<br />
<%end %>


<%= render 'layouts/map' %>