<div id="new_drop_container">
	<%= bootstrap_form_for(@drop) do |f| %>
	  	<%= f.text_field :title %>
	  	<%= f.text_field :description %>
	  	<%= f.collection_select :recipient_id, User.all - [current_user], :id, :full_name %>
	  	<%= f.submit "Create Drop" %>
	<% end %>
</div>