<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <title>Hermes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="..">Hermes</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
     
       
      </form>
      <ul class="nav navbar-nav navbar-right">
      <!-- If we don't have a user signed in, we want to render the signup form and the login form -->
      <!-- Otherwise, we don't want to render the sign up form, and where it used to say login, we want to -->
      <!-- display the first and last name of the user currently signed in, and in the drop down form, we want a -->
      <!-- logout button a profile button and a drops button which destroys the current user session, takes the user -->
      <!-- to their profile where they can edit their settings and upload an avatar photo, and leads them to the page -->
      <!-- where they can view their current drops and make new drops, respectively -->
        <% if current_user == nil %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Sign Up
              <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
             <%= render partial: 'layouts/new_user_form' %>
            </ul>
            </a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> 
              Sign in
             <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%= render partial: 'layouts/sign_in_form' %>
            </ul>
            </a>
          </li>
        <% else %> <!-- if our user is signed in, let's -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
          <%= current_user.first_name %>
           <!-- display their name where the login button used to be -->
          <span class="caret"></span></a>
        <ul class ="dropdown-menu" role="menu"> <!-- and render the dropdown menu with buttons linking to the profile and linking to the user's drop page -->
            <li><a href="#">Profile</a></li>
            <li><a href="#">Drops</a></li>
            <li class="divider"></li>
            <li><%= button_to "Log out", sessions_path, method: :delete%></li>
        <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

  <% if current_user != nil %>
    This is the person who's logged in: <%= current_user.email %>
     <%= button_to "Log out", sessions_path, method: :delete %>
    
  <% else %>
    <%= button_to "Sign up", new_user_path, method: :get %>
  <% end %>

  <%= yield %>



</body>
</html>
<%= session["user_id"].inspect %>
